<p>
<strong>
  <%= @post.title%>
  </br>
  <%= @post.body%>
</strong>
</p>
<%= render partial: 'commets/form' %>
<%= link_to 'Atras', posts_path %>
<h1>Comments</h1>
<% @post.commets.each do |comment| %>
  <p><%= comment.content %></p>
  <%= link_to "Eliminar", post_commet_path(post_id: @post, comment_id: comment), method: :delete, data: {confirm: "¿Estás seguro?"} %>
<% end %>
