!!!
%html
  %head
    %title Blog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Home", root_path, class: "navbar-brand"
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - Category.all.each do |category|
              %li= link_to "#{category.name}", category_path(category)
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#"} Link
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Acciones
                %span.caret
              %ul.dropdown-menu
                - if user_signed_in?
                  %li
                    = link_to "salir", destroy_user_session_path, method: :delete
                  %li
                    = link_to "editar perfil", edit_user_registration_path
        / /.navbar-collapse
      / /.container-fluid
    .container
      - if alert || notice
        %p.notice= notice
        %p.alert= alert
      = yield
